<div class="calendar-env">

    <div class="calendar-body">
        <div id="calendar">           
        </div>
    </div>

    <div class="calendar-sidebar">
        <div class="calendar-sidebar-row">
            <form role="form" id="add_event_form">
                <div class="input-group minimal">
                    <input type="text" class="form-control" placeholder="Adicionar evento..." />

                    <div class="input-group-addon">
                        <i class="entypo-pencil"></i>
                    </div>                    
                </div>
            </form>
        </div>

        <!--Events List--> 
        <ul class="events-list" id="draggable_events">
            <li>
                <p>Eventos cadastrados</p>
            </li>
            <li>
                <a href="#">Sport Match</a>
            </li>
            <li>
                <a href="#" class="color-blue" data-event-class="color-blue">Meeting</a>
            </li>
            <li>    
                <a href="#" class="color-orange" data-event-class="color-orange">Relax</a>
            </li>
            <li>
                <a href="#" class="color-primary" data-event-class="color-primary">Study</a>
            </li>
            <li>
                <a href="#" class="color-green" data-event-class="color-green">Family Time</a>
            </li>
        </ul>
    </div>
</div>
