<div class="modal fade" id="apagarModal" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3 class="modal-title">Atenção!</h3></div>
            <div class="modal-body">Tem certeza que deseja excluir o registro <br> <b>" {{nomeRegistro}} "</b> ?</div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="excluiRegistro()">Sim</button>
                <button class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>