<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="panel-title">Convênios cadastrados</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>    
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon btn-info" id="basic-addon1"><i class="fa fa-search"></i></span>
            <input type="text" ng-model="busca.descricao" placeholder="Buscar convênio (digite o nome)" class="form-control" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="panel panel-default">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Convênio</th><th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarConvenios()">
                    <tr ng-repeat='c in filtered = (convenios| filter:busca
                                    )' >
                        <td>{{c.descricao}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editarConvenio(c)">Editar</a></li>
                                    <li><a ng-click="deletarConvenio(c)">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">Registros encontrados: {{filtered.length}}</div>
        </div>
        <a ng-href="#/Convenio/novo" class="btn btn-success">Cadastrar novo</a>
    </div>
</div>     
