
<div class="panel panel-info">
    <div class="panel-heading"> 
        <div class="panel-title">Etnias cadastradas</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <ng-include src="'views/busca.html'"></ng-include>
        
        <div class="panel panel-default">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem"></i>
                            <a ng-click="trocaOrdem(busca.descricao)">Etnia</a>
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarEtnias()">
                    <tr ng-repeat='e in etnias.listaDeRegistros' >
                        <td>{{e.descricao}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editarEtnia(e)">Editar</a></li>
                                    <li><a ng-click="deletarEtnia(e)">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer">
                <span> Registros encontrados: {{etnias.totalDeRegistros}} </span>
            </div>
        </div>
        <div id="paginacao"></div>
<!--        <script>
            $('#paginacao').bootpag({
                total: etnias.quantidadeDePaginas,
                page: etnias.paginaAtual,
                maxVisible:5
            }).on('page', function(event, num){
                atualizarEtnias(num,campo, order, string);
                //console.log(event);
            });
        </script>-->
        
        <a ng-href="#/Etnia/nova" class="btn btn-success">Cadastrar nova</a>
    </div>
</div>


