
<div class="panel panel-info">

    <div class="panel-heading"> 
        <div class="panel-title">Indígenas cadastrados</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <ng-include src="'views/busca.html'" ng-init="registrosPadrao()"></ng-include>
        
        <div class="panel panel-default">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='codigoassindi'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='codigoassindi'"></i>
                            <a ng-click="trocaOrdem(qtdePorPag,'codigoassindi', busca.descricao, 'indigena')">COD Assindi</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='nome'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='nome'"></i>
                            <a ng-click="trocaOrdem(qtdePorPag,'nome', busca.descricao, 'indigena')">Nome</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='datanascimento'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='datanascimento'"></i>
                            <a ng-click="trocaOrdem(qtdePorPag,'datanascimento', busca.descricao,'indigena')">Idade</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='descricao'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='descricao'"></i>
                            <a ng-click="trocaOrdem(qtdePorPag,'descricao', busca.descricao, 'indigena')">Etnia e terra indígena</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='telefone'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='telefone'"></i>
                            <a ng-click="trocaOrdem(qtdePorPag,'telefone', busca.descricao,'indigena')">Telefone</a>
                        </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarListagens()">
                    <tr ng-repeat='i in dadosRecebidos.itens.listaDeRegistros' >
                        <td>{{i.codigoassindi}}</td>
                        <td><i class="{{ehMeninoMenina[i.genero].icone}}" style="color: {{ehMeninoMenina[i.genero].cor}};"></i>  {{i.nome}}</td>
                        <td>{{calculaIdade(i.datanascimento)}} anos</td>
                        <td>{{i.descricao}} <br> {{i.nometerra}}</td>
                        <td>{{i.telefone}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editarIndio(i)">Editar</a></li>
<!--                                    <li><a ng-click="excluirIndio(i)">Editar</a></li>-->
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">Registros encontrados: {{indigenas.totalDeRegistros}}</div>
            
        </div>
        <div id="paginacao"></div>
        <a ng-href="#/Indigena/novo" class="btn btn-success">Cadastrar novo</a>
        
    </div>
</div>