
<div class="panel panel-info">

    <div class="panel-heading"> 
        <div class="panel-title">Indígenas cadastrados</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="buscaIndigena">
        <div class="input-group">
            
            <input type="text" ng-model="busca.descricao" placeholder="Buscar indígena" class="form-control">
            <span class="input-group-btn">
                <button ng-click="atualizarIndigenas('','','asc',busca.descricao);" class="btn btn-info"><i class="fa fa-search"></i></button>
            </span>
            
            
        </div>  
            </form>   
        <br>
        <div class="panel panel-default">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='codigo_assindi'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='codigo_assindi'"></i>
                            <a ng-click="trocaOrdem('codigo_assindi', busca.descricao)">COD Assindi</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='nome'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='nome'"></i>
                            <a ng-click="trocaOrdem('nome', busca.descricao)">Nome</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='data_nascimento'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='data_nascimento'"></i>
                            <a ng-click="trocaOrdem('data_nascimento', busca.descricao)">Idade</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='descricao'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='descricao'"></i>
                            <a ng-click="trocaOrdem('descricao', busca.descricao)">Etnia e terra indígena</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-asc" ng-show="!tipoOrdem && campoAtual=='telefone'"></i>
                            <i class="fa fa-sort-desc" ng-show="tipoOrdem && campoAtual=='telefone'"></i>
                            <a ng-click="trocaOrdem('telefone', busca.descricao)">Telefone</a>
                        </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarIndigenas()">
                    <tr ng-repeat='i in indigenas.listaDeRegistros' >
                        <td>{{i.codigo_assindi}}</td>
                        <td><i class="{{ehMeninoMenina[i.genero].icone}}" style="color: {{ehMeninoMenina[i.genero].cor}};"></i>  {{i.nome}}</td>
                        <td>{{calculaIdade(i.data_nascimento)}} anos</td>
                        <td>{{i.descricao}} <br> {{i.nometerra}}</td>
                        <td>{{i.telefone}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editarIndio(i)">Editar</a></li>
<!--                                    <li><a ng-click="excluirIndio(i)">Editar</a></li>-->
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">Registros encontrados: {{indigenas.totalDeRegistros}}</div>
            
        </div>
        <div id="paginacao"></div>
        <a ng-href="#/Indigena/novo" class="btn btn-success">Cadastrar novo</a>
        
    </div>
</div>