
<div class="panel panel-info">

    <div class="panel-heading"> 
        <div class="panel-title">Indígenas cadastrados</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="buscaIndigena">
        <div class="input-group">
            
            <input type="text" ng-model="busca.descricao" placeholder="Buscar indígena" class="form-control">
            <span class="input-group-btn">
                <button ng-click="atualizarIndigenas('','','asc',busca.descricao);" class="btn btn-info"><i class="fa fa-search"></i></button>
            </span>
            
            
        </div>  
            </form>   
        <br>
        <div class="panel panel-default">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>COD Assindi</th><th>Nome</th><th>Etnia</th><th>Telefone</th><th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarIndigenas()">
                    <tr ng-repeat='i in indigenas.listaDeRegistros' >
                        <td>{{i.cod}}</td>
                        <td>{{i.nome}}</td>
                        <td>Etnia: {{i.etnia.descricao}} <br> Terra indígena: {{i.terraIndigena.nomeTerra}}</td>
                        <td>{{i.telefone.telefone}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editarIndio(i)">Editar</a></li>
                                    <li><a ng-click="excluirIndio(i)">Editar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">Registros encontrados: {{indigenas.totalDeRegistros}}</div>
            
        </div>
        <div id="paginacao"></div>
        <a ng-href="#/Indigena/novo" class="btn btn-success">Cadastrar novo</a>
        
    </div>
</div>