
<div ng-init="carregarIndios()" class="panel panel-danger">

    <div class="panel-heading"> 
        <div class="panel-title" ng-show="isNovoIndio">Cadastrar indígena</div>
        <div class="panel-title" ng-show="!isNovoIndio">Alterar indígena</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formInd" novalidate class="form-horizontal form-groups-bordered">
            
            <div class="form-group">    
                <label for="nome" class="col-md-2 col-sm-1 control-label">Código Assindi:</label>
                <div class="col-md-2 col-sm-4"><input type="text" ng-model="indio.cod" id="cod" name="cod" required="" class="form-control" ng-minlength=8 ng-maxlength=8></div>
                <label for="cpf" class="col-md-1 col-sm-1 control-label">CPF:</label>
                <div class="col-md-3 col-sm-4"><input type="text" ng-model="indio.cpf" id="cpf" name="cpf" required="" cpf-unique class="form-control"></div>
            </div>

            <div ng-show="formInd.cod.$dirty && formInd.cod.$invalid" class="alert alert-danger" role="alert" class="col-md-12">
                <span ng-show="formInd.nome.$error.required">Preencha o código Assindi. </span>
                <span ng-show="formInd.nome.$error.minlength">Código deve ter 8 caracteres. </span>
                <span ng-show="formInd.nome.$error.maxlength">Código deve ter 8 caracteres. </span>
            </div>
            
            <div ng-show="formInd.cpf.$dirty && formInd.cpf.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10">
                <span ng-show="formInd.cpf.$error.required">Preencha o CPF. </span>
                <span ng-show="formInd.cpf.$error.uncpf">CPF já cadastrado. </span>
            </div>
            
            <div class="form-group">    
                <label for="nome" class="col-md-2 control-label">Nome:</label>
                <div class="col-md-10"><input type="text" ng-model="usuario.nome" id="nome" name="nome" required="" class="form-control" ng-minlength=3 ng-maxlength=50></div>
            </div>

            <div ng-show="formInd.nome.$dirty && formInd.nome.$invalid" class="alert alert-danger" role="alert" class="col-md-12">
                <span ng-show="formInd.nome.$error.required">Preencha seu nome completo. </span>
                <span ng-show="formInd.nome.$error.minlength">Nome deve ter mais de 3 caracteres. </span>
                <span ng-show="formInd.nome.$error.maxlength">Nome não pode ter mais de 50 caracteres. </span>
            </div>
            
            <div class="form-group">
                <label for="etnia" class="col-md-2 control-label">Etnia: </label>
                <div class="col-md-2">
                    <select ng-model="indio.etnia" id="etnia" name="etnia" required="" class="form-control">
                        <option value="">Selecione a etnia</option>
                        <!-- FAZER BUSCA POR ETNIAS -->
                    </select>
                </div>
                <label for="etnia" class="col-md-1 control-label">Aldeia: </label>
                <div class="col-md-2">
                    <select ng-model="indio.aldeia" id="aldeia" name="aldeia" required="" class="form-control">
                        <option value="">Selecione a aldeia</option>
                        <!-- FAZER BUSCA POR ALDEIAS -->
                    </select>
                </div>
            </div>
            
            <div ng-show="formInd.etnia.$dirty && formInd.etnia.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10" >
                <span ng-show="formInd.etnia.$error.required">Selecione uma etnia. </span>
            </div>
            
            <div class="form-group">
                <label for="genero" class="col-md-2 control-label">Gênero:</label>
                <div class="col-md-2">
                    <label for="masc">Masculino </label>
                    <input type="radio" id="masc" name="genero"> &nbsp;
                    <i class='fa fa-male'></i><i class='fa fa-female'></i>
                    &nbsp;<input type="radio" id="fem" name="genero"> 
                    <label for="fem"> Feminino</label>
                </div>
                <label for="cep" class="col-md-1 control-label">Escolaridade: </label>
                <div class="col-md-2">
                    <select name="escolaridade" ng-model="indio.escolaridade" id="escolaridade" class="form-control">
                        <option value="">Selecione a escolaridade</option>
                        <option value="1">Fundamental incompleto</option>
                        <option value="2">Fundamental completo</option>
                        <option value="3">Médio incompleto</option>
                        <option value="4">Médio completo</option>
                        <option value="5">Superior incompleto</option>
                        <option value="6">Superior completo</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="datanasc" class="col-md-2 control-label">Data de nascimento: </label>
                <div class="col-md-10">
                    <div class="col-md-3 input-group">
                        <input type="text" ng-model="indio.datanasc" id="datanasc" name="datanasc" class="form-control datepicker" data-start-view="2" data-end-date="-1d" data-format="dd/mm/yyyy">
                        <div class="input-group-addon"> <a href="#"><i class="entypo-calendar"></i></a> </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="telefone" class="col-md-2 col-sm-2 control-label">Telefone principal: </label>
                <div class="col-md-2 col-sm-4"><input type="text" ng-model="indio.telefone" id="telefone" name="telefone" required="" class="form-control" placeholder="(99) 99999-9999"></div>
                <label for="telefone2" class="col-md-1 col-sm-2 control-label">Telefone opcional: </label>
                <div class="col-md-2 col-sm-4"><input type="text" ng-model="indio.telefone2" id="telefone2" name="telefone2" class="form-control" placeholder="(99) 99999-9999"></div>
            </div>
            
            <div ng-show="formInd.telefone.$dirty && formInd.telefone.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10" >
                <span ng-show="formInd.telefone.$error.required">Preencha o telefone principal. </span>
            </div>
            
            <div class="form-group">    
                <label for="convenios" class="col-md-2 control-label">Convênios: </label>
                <div class="col-md-10"><input type="text" ng-model="usuario.convenios" id="convenios" name="convenios" class="form-control"></div>
            </div>

            <div class="form-group">
                <label for="tfoto" class="col-md-2 control-label">Foto: </label>
                <div class="col-md-1"><a href="javascript:;" onclick="jQuery('#fotoModal').modal('show', {backdrop: 'static'});" class="btn btn-info"><i class="fa fa-camera"></i> Tirar foto</a></div>
                <label for="foto" class="col-md-1 control-label">OU: </label>
                <div class="col-md-3"><input type="file" ng-model="indio.foto" id="foto" name="foto" class="form-control btn btn-info"></div>
                <div class="modal fade" id="fotoModal" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                    <h4 class="modal-title">Tire a foto</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="ng-camera" ng-controller="CameraController as vm">
                                        <div class="col-md-6 col-sm-12">    
                                            <ng-camera
                                                capture-message="Click!"
                                                countdown="1"
                                                output-height="360"
                                                output-width="480"
                                                viewer-height="360"
                                                viewer-width="480"
                                                image-format="jpeg"
                                                jpeg-quality="100"
                                                action-message="Tirar foto"
                                                snapshot="vm.picture"
                                                flash-fallback-url="img/webcam.swf"
                                                overlay-url="img/overlay.png"
                                                shutter-url="sound/shutter.mp3"
                                            ></ng-camera>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <img ng-if="vm.picture" ng-src="{{vm.picture}}" alt="Foto">
                                        </div>
                                    </div>  
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
</form>
</div>
</div>

<div>
    <button ng-show="isNovoIndio" ng-click="salvarIndio()" ng-disabled="!formInd.$valid" class="btn btn-success">Cadastrar</button>
    <button ng-hide="isNovoIndio" ng-click="salvarIndio()" ng-disabled="!formInd.$valid" class="btn btn-success">Alterar</button>
    <button ng-show="isNovoIndio" ng-click="reset(formInd)" class="btn btn-info">Limpar</button>
</div>

<script src="js/webcam.js" type="text/javascript"></script>
<script src="js/ng-camera.js" type="text/javascript"></script>
<script src="bootstrap/neon/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="js/datepicker-custom.js" type="text/javascript"></script>