<ul class="nav navbar navbar-inverse nav-pills nav-stacked">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">Gerenciar Usuários <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#/Usuario/novo">Cadastrar novo usuário</a></li>
            <li><a href="#/Usuario/listar">Listar usuários</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">Gerenciar perfis <span class="caret"></span></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="#/Perfil/novo">Cadastrar novo perfil</a></li>
            <li><a href="#/Perfil/listar">Listar perfis</a></li>
        </ul>
    </li>
</ul> 
