<div class="panel panel-info">
    <div class="panel-heading"> 
        <div class="panel-title">Lista de Visitas</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <ng-include src="'views/busca.html'"> </ng-include>
        <div class="panel panel-default" ng-init="registrosPadrao()">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'nomepj'"></i> 
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'nomepj', busca.descricao, 'ok', true)">Nome</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'datavisita'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'datavisita', busca.descricao, 'ok', true)">Data da visita</a>
                        </th>   
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'horaentrada'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'horaentrada', busca.descricao, 'ok', true)">Horário</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'quantidadedevisitantes'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'quantidadedevisitantes', busca.descricao, 'ok', true)">Visitantes</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'nomepf'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'nomepf', busca.descricao, 'ok', true)">Responsável</a>
                        </th>

                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarListagens(busca.numregistros, '', campoPrincipal, '', 'ok', ent, '')">
                    <tr ng-repeat='v in dadosRecebidos.itens.listaDeRegistros' >
                        <td>{{v.nomepj}}</td>
                        <td>{{dateToData(v.datavisita)}}</td>
                        <td>Entrada: {{v.horaentrada}}<br>Saída: {{v.horasaida}}</td>
                        <td>{{v.quantidadedevisitantes}} pessoas</td>
                        <td>{{v.nomepf}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a ng-click="editarVisita(v)">Editar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> 
            <div class="panel-footer">Registros encontrados: {{dadosRecebidos.itens.totalDeRegistros}}</div>            
        </div>
        <div id="blocoPaginacao">
            <div id="paginacao"></div>
        </div>
        <a ng-href="#/Visita/nova" class="btn btn-success">Cadastrar nova</a>        
    </div>
</div>