<div class="panel panel-info">
    <div class="panel-heading"> 
        <div class="panel-title">Lista de Visitas</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <ng-include src="'views/busca.html'"> </ng-include>
        <div class="panel panel-default" ng-init="registrosPadrao()">
            <table id="tabelaGrid" class="table table-striped datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'nomepj'"></i> 
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'nomepj', busca.descricao, 'ok', true)">Nome</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'datavisita'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'datavisita', busca.descricao, 'ok', true)">Data da visita</a>
                        </th>   
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'horaentrada'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'horaentrada', busca.descricao, 'ok', true)">Horário</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'quantidadedevisitantes'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'quantidadedevisitantes', busca.descricao, 'ok', true)">Visitantes</a>
                        </th>
                        <th>
                            <i class="fa fa-sort-amount-{{tipoOrdem}}" ng-show="campoAtual == 'nomepf'"></i>
                            <a ng-click="atualizarListagens(busca.numregistros, pagina, 'nomepf', busca.descricao, 'ok', true)">Responsável</a>
                        </th>

                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody ng-init="atualizarListagens(busca.numregistros, '', campoPrincipal, '', 'ok', ent, '')">
                    <tr ng-repeat='v in dadosRecebidos.itens.listaDeRegistros' >
                        <td>{{v.nomepj}}</td>
                        <td>{{dateToData(v.datavisita)}}</td>
                        <td>Entrada: {{v.horaentrada}}<br>Saída: {{v.horasaida}}</td>
                        <td>{{v.quantidadedevisitantes}} pessoas</td>
                        <td>{{v.nomepf}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h"> </i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" style="margin-left: -500%;">
                                    <li><a ng-click="abrirModal(v.idvisita)">Registrar Entrada/Saída</a></li>
                                    <li><a ng-click="editarVisita(v)">Editar</a></li>
                                    <li><a ng-click="deletarVisita(v)">Excluir</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> 
            <div class="panel-footer">Registros encontrados: {{dadosRecebidos.itens.totalDeRegistros}}</div>            
        </div>
        <div id="blocoPaginacao">
            <div id="paginacao"></div>
        </div>
    </div>
</div>
<div>
    <a ng-href="#/Visita/nova" class="btn btn-success">Cadastrar nova</a>        
</div>

<div class="modal fade" id="saidaModal" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar Entrada/Saída</h4>
            </div>
            <div class="modal-body" ng-controller="VisitaController">
                <form name="formVisita" novalidate class="form-horizontal form-groups-bordered">
                    <div class="form-group">
                        <label for="horaentrada" class="col-md-2 control-label"> Hora da Entrada:</label>
                        <div class="col-md-3"><input type="time" ng-model="visita.horaentrada" id="horaentrada" name="horaentrada" class="form-control"></div>
                        <label for="horasaida" class="col-md-2 control-label"> Hora da Saída:</label>
                        <div class="col-md-3"><input ng-disabled="!visita.horaentrada" type="time" ng-model="visita.horasaida" id="horasaida" name="horasaida" class="form-control"></div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" style="margin-left: -1%; margin-top: 20px;" for="observacao">Observações: </label>                
                        <textarea name="observacao" style="margin-top: 10px; margin-left: 3.5%; border-radius: 5px;" id="observacao" ng-model="visita.observacao" rows=5 class="col-md-8"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <button ng-click="registarSaida()" onclick="fechaModal('saidaModal')" class="btn btn-success ">Salvar</button>
                            <button ng-click="reset(formVisita)" onclick="fechaModal('saidaModal')" class="btn btn-info">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>