
<div ng-init="carregarVisita()" class="panel panel-info">
    <div class="panel-heading"> 
        <div class="panel-title" ng-show="isNovaVisita">Cadastrar Visita</div>
        <!--        <div class="panel-title" ng-show="!isNovaVisita">Alterar visita</div>-->
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formCad" novalidate class="form-horizontal form-groups-bordered">

            <div class="form-group">
                <label for="dataVisita" class="col-md-2 control-label"> Data da Visita</label>
                <div class="col-md-3"><input type="date" ng-model="visita.dataVisita" id="dataVisita" name="dataVisita" required="" class="form-control requerido"></div>
                <label for="horaentrada" class="col-md-2 control-label"> Horário Previsto</label>
                <div class="col-md-2"><input type="time" ng-model="visita.horavisita" id="horavisita" name="horavisita" required="" class="form-control requerido"></div>

            </div>
            
            <div ng-show="formCad.dataVisita.$dirty && formCad.dataVisita.$invalid" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="formCad.dataVisita.$error.required">Preencha data da visita. </span>
            </div>
            
            <div class="form-group">
                <label for="identidade" class="col-md-2 control-label">Entidade: </label>
                <div class="col-md-5" ng-init="listarJuridicas()">

                    <select ng-model="visita.identidade" id="identidade" name="identidade" required="" class="form-control requerido">
                        <option value="">Selecione uma entidade</option>
                        <!-- FAZER BUSCA POR ENTIDADE-->
                        <option ng-repeat="j in juridicas" value="{{j.idpessoa}}">{{j.nome}}</option>
                    </select>

                </div>

            </div>
            <div ng-show="formCad.identidade.$dirty && formCad.identidade.$invalid" class="alert alert-danger col-md-12" role="alert">
                <span ng-show="formCad.identidade.$error.required">Selecione uma entidade. </span>
            </div>

            <div class="form-group">
                <label for="idpessoaresponsavel" class="col-md-2 control-label">Responsável: </label>
                <div class="col-md-3" ng-init="listarFisicas()">

                    <select ng-model="visita.idpessoaresponsavel" id="idpessoaresponsavel" name="idpessoaresponsavel" required="" class="form-control requerido">
                        <option value="">Selecione um responsável</option>
                        <!-- FAZER BUSCA POR RESPONSÁVEL -->
                        <option ng-repeat="f in fisicas" value="{{f.idpessoa}}">{{f.nome}}</option>
                    </select>

                </div>        
            </div>

            <div class="form-group">
                <label for="telefone" class="col-md-2 control-label">Telefones: </label>
                <div class="col-md-2">

                </div>
                <label for="telefone" class="col-md-2 control-label">Telefone adicional: </label>
                <div class="col-md-2"><input type="text" ng-model="visita.telefone" id="telefone" name="telefone" class="form-control sp_celphones" placeholder="(99) 9999-9999"></div>
            </div>


            <div class="form-group">
                <label for="seriecurso" class="col-md-2 control-label">Série / Curso: </label>
                <div class="col-md-4"><input type="text" ng-model="visita.seriecurso" id="seriecurso" name="seriecurso" class="form-control"></div>
            </div>

            <div class="form-group">    
                <label for="quantidadeDeVisitantes" class="col-md-2 control-label">Quantidade de Visitantes:</label>
                <div class="col-md-2">
                    <input type="number" ng-model="visita.quantidadeDeVisitantes" id="quantidadeDeVisitantes" name="quantidadeDeVisitantes" required="" class="form-control requerido" min="0">
                </div>
            </div>
             <div ng-show="formCad.quantidadeDeVisitantes.$dirty && formCad.quantidadeDeVisitantes.$invalid" class="alert alert-danger col-md-12" role="alert">
                <span ng-show="formCad.quantidadeDeVisitantes.$error.required">Preencha o número de visitantes. </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-info">    
    <div class="panel-heading"> 
        <div class="panel-title">Informações da Visita</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formHoraEntradaVisita" novalidate class="form-horizontal form-groups-bordered">
            <div class="form-group">
                <label for="horaentrada" class="col-md-2 control-label"> Hora da Entrada:</label>
                <div class="col-md-2"><input type="time" ng-model="visita.horaentrada" id="horaentrada" name="horaentrada" class="form-control"></div>
                <label for="horasaida" class="col-md-2 control-label"> Hora da Saída:</label>
                <div class="col-md-2"><input type="time" ng-model="visita.horasaida" id="horasaida" name="horasaida" class="form-control"></div>

            </div>

            <div class="form-group">
                <label for="visitarealizada" class="col-md-2 control-label">Visita realizada:</label>
                <div class="col-md-1">

                    <input type="checkbox" id="visitarealizada" name="visitarealizada" ng-model="visita.realizada" value="1" required=""> &nbsp;
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="observacoes">Observações: </label>                
                <textarea name="observacoes" id="observacoes" ng-model="visita.observacoes" rows=5 class="col-md-7"></textarea>
            </div>
        </form>
    </div>
</div>


<div>
    <button ng-show="isNovaVisita" ng-click="salvarVisita()" ng-disabled="!formCad.$valid" class="btn btn-success">Cadastrar</button>
    <button ng-show="isNovaVisita" ng-click="reset(formCad)" class="btn btn-info">Limpar</button>
</div>
