<script src="js/datepicker-custom.js" type="text/javascript"></script>

<div ng-init="carregarVisita()" class="panel panel-info">
    <div class="panel-heading"> 
        <div class="panel-title" ng-show="isNovaVisita">Cadastrar Visita</div>
<!--        <div class="panel-title" ng-show="!isNovaVisita">Alterar visita</div>-->
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formVisita" novalidate="" class="form-horizontal">
            <!--<div class="form-group">    
                <label for="nome" class="col-md-2 control-label">Nome:</label>
                <div class="col-md-8">
                    <input type="text" ng-model="visita.nome" id="" name="nome" required="" class="form-control" ng-minlength=3 ng-maxlength=30>
                </div>
            </div>!-->
           
            <!--- 
            <div class="form-group">
                <label for="dataVisita" class="col-md-2 control-label">Data/Hora da Visita: </label>
                <div class="col-md-9">
                    <div class="col-md-3 input-group">
                        <input type="text" ng-model="visita.dataVisita" id="dataVisita" name="dataVisita" required="" class="form-control datepicker" data-start-view="2" data-end-date="-10y" data-format="dd/mm/yyyy">
                        <div class="input-group-addon"> <a href="#"><i class="entypo-calendar"></i></a></div>
                    </div>
                </div>
            </div>-->
            
           <div class="form-group">
                <label for="dataVisita" class="col-md-2 control-label"> Data/Hora da Visita</label>
                <div class="col-md-3"><input type="date" ng-model="visita.dataVisita" id="dataVisita" name="dataVisita" required="" class="form-control requerido"></div>
            </div>

            <div ng-show="formVisita.dataVisita.$dirty && formVisita.dataVisita.$invalid" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="formVisita.dataVisita.$error.required">Preencha data da visita. </span>
            </div>
           
            <div class="form-group">    
                <label for="qtdeVisitantes" class="col-md-2 control-label">Qtde de Visitantes:</label>
                <div class="col-md-2">
                    <input type="number" ng-model="visita.quantidadeDeVisitantes" id="" name="" required="" class="form-control" min="0">
                </div>
            </div>
            <div class="form-group">
                <label for="cep" class="col-md-2 control-label">CEP: </label>
                <div class="col-md-2">
                    <input type="text" ng-model="" id="cep" name="cep" required="" class="form-control">
                </div>
                <label for="uf" class="col-md-1 control-label">Estado: </label>
                <div class="col-md-2">
                    <select ng-model="" id="uf" name="uf" required="" class="form-control">
                        <option value="">Selecione um estado</option>
                        <!-- FAZER BUSCA POR ESTADOS -->
                    </select>
                </div>
                <label for="cidade" class="col-md-1 control-label">Cidade: </label>
                <div class="col-md-3">
                    <select ng-model="" id="cidade" name="cidade" required="" class="form-control">
                        <option value="">Aguardando estado...</option>
                        <!-- FAZER BUSCA POR CIDADES -->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="endereco" class="col-md-2 control-label">Endereço: </label>
                <div class="col-md-6">
                    <input type="text" ng-model="" id="endereco" name="endereco" required="" class="form-control">
                </div>
                <label for="numero" class="col-md-1 control-label">n°: </label>
                <div class="col-md-2">
                    <input type="text" ng-model="" id="numero" name="numero" required="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="bairro" class="col-md-2 control-label">Bairro: </label>
                <div class="col-md-6"><input type="text" ng-model="" id="bairro" name="bairro" required="" class="form-control"></div>
            </div>
            <div class="form-group">
                <label for="telefone" class="col-md-2 control-label">Telefone principal: </label>
                <div class="col-md-3"><input type="text" ng-model="" id="telefone" name="telefone" required="" class="form-control" placeholder="(99) 99999-9999"></div>
                <label for="telefone2" class="col-md-2 control-label">Telefone secundário: </label>
                <div class="col-md-3"><input type="text" ng-model="" id="bairro" name="telefone2" class="form-control" placeholder="(99) 99999-9999"></div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-info">    
    <div class="panel-heading"> 
        <div class="panel-title">Informações da Visita</div>
        <div class="panel-options">
            <a href="" data-rel="collapse"><i class="entypo-down-open-big"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form name="formHoraEntradaVisita" novalidate class="form-horizontal form-groups-bordered">
            <div class="form-group">
                <label for="horaentrada" class="col-md-2 control-label"> Hora de Entrada:</label>
                <div class="col-md-3"><input type="date" ng-model="visita.horaentrada" id="horaentrada" name="horaentrada" required="" class="form-control requerido"></div>
            </div>

            <div ng-show="formHoraEntradaVisita.horaentrada.$dirty && formHoraEntradaVisita.horaentrada.$invalid" class="alert alert-danger col-md-offset-2 col-md-10" role="alert">
                <span ng-show="formHoraEntradaVisita.horaentrada.$error.required">Preencha hora de entrada. </span>
            </div>
            <div>
                <label class="col-md-2 control-label">Observações: </label>                
                <textarea name="" rows=5 class="col-md-7"></textarea>
            </div>
        </form>
    </div>
</div>


<div>
    <button ng-show="isNovaVisita" ng-click="salvar()" ng-disabled="!formVisita.$valid" class="btn btn-success">Cadastrar</button>
    <!--<button ng-hide="!isNovaVisita" ng-click="salvar()" ng-disabled="!formCad.$valid" class="btn btn-success">Alterar</button>-->
    <button ng-show="isNovaVisita" ng-click="reset(formVisita)" class="btn btn-info">Limpar</button>
</div>
