<!DOCTYPE html>
<html ng-app="appAssindi">
    <head>
        <title>ASSINDI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="jsBase/angular.min.js"></script>
        <script src="jsBase/angular-route.min.js"></script>
        <script src="js/appAssindi.js" type="text/javascript"></script>
        <script src="js/directivesAssindi.js" type="text/javascript"></script>
        <script src="js/LoginController.js" type="text/javascript"></script>
        <script src="js/UsuarioController.js" type="text/javascript"></script>
        <script src="js/rotas.js" type="text/javascript"></script>
        <script src="jsBase/angular-ui-tree.js" type="text/javascript"></script>
        
        <link rel="stylesheet" href="bootstrap/neon/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
        <link rel="stylesheet" href="bootstrap/neon/css/font-icons/entypo/css/entypo.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
        <link rel="stylesheet" href="bootstrap/neon/css/bootstrap.css">
        <link rel="stylesheet" href="bootstrap/neon/css/neon-core.css">
        <link rel="stylesheet" href="bootstrap/neon/css/neon-theme.css">
        <link rel="stylesheet" href="bootstrap/neon/css/neon-forms.css">
        <link rel="stylesheet" href="bootstrap/neon/css/custom.css">
        <link href="bootstrap/neon/css/font-icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="bootstrap/css/font-icons/entypo/css/entypo.css">
        <link href="css/usuario.css" rel="stylesheet" type="text/css"/>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        <link href="css/angular-ui-tree.min.css" rel="stylesheet" type="text/css"/>
        
        <script src="bootstrap/neon/js/jquery-1.11.0.min.js"></script>
        <script>$.noConflict();</script>

        <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
        <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    </head>
    <body ng-controller="UsuarioController"  class="page-body gray page-fade-only"><!-- ng-init="verificaLogado()" > -->
        <div class="page-container">
            <div class="sidebar-menu">
                <div class="sidebar-menu-inner">
                    <header class="logo-env">
                        <!-- logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/assindi.png" alt=""/>
                            </a>
                        </div>
                        <!-- Iconezinho que esconde e abre os menu -->
                        <div class="sidebar-collapse">
                            <a href="#" class="sidebar-collapse-icon with-animation">
                                <i class="entypo-menu"></i>
                            </a>
                        </div>
                        <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                        <div class="sidebar-mobile-menu visible-xs">
                            <a href="#" class="with-animation">
                                <i class="entypo-menu"></i>
                            </a>
                        </div>
                    </header>

<!--                <div ui-tree> ng-init="listaItensAcessoDoMenu()">
                    <ol ui-tree-nodes="" ng-model="itensAcesso">
                       <li ng-repeat="item in itensAcesso" ui-tree-node>
                            <div ui-tree-handle>
                                {{item.title}}
                            </div>
                            <ol ui-tree-nodes="" ng-model="item.items">
                                <li ng-repeat="subItem in item.items" ui-tree-node>
                                    <div ui-tree-handle>
                                        {{subItem.title}}
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>-->

<!--                <ul ui-tree id="main-menu" class="main-menu auto-inherit-active-class"> ng-init="listaItensAcessoDoMenu()">
                    <li ui-tree-nodes="" class="root-level has-sub" ng-model="itensAcesso">
                       <li ng-repeat="item in itensAcesso" ui-tree-node>
                            <a ui-tree-handle>
                                <i class="fa fa-user"></i>
                                <span class="title">{{item.title}}</span>
                            </a>
                            <ul ui-tree-nodes="" ng-model="item.items">
                                <li ng-repeat="subItem in item.items" ui-tree-node>
                                    <a ui-tree-handle>
                                        <span class="title">{{subItem.title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </li>
                </ul>-->

        <!--<div ng-controller="UsuarioController">-->
            <div ui-tree>
              <ol  ui-tree-nodes ng-model="itensAcesso">
                <li ng-repeat="row in itensAcesso" ui-tree-node>
                  <div ui-tree-handle>
                    {{row.id}}{{row.title}}
                  </div>

                  <ol ui-tree-nodes ng-model="row.items">
                    <li ng-repeat="column in row.items" ui-tree-node>
                      <div ui-tree-handle>
                        {{column.id}}{{row.title}}
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
        <!--</div>-->

<!--                <ul id="main-menu" class="main-menu auto-inherit-active-class" ng-init="listaItensAcessoDoMenu">
                        <li class="root-level has-sub">
                            <ul>
                                <li ng-repeat="item in itensAcesso">
                                    <a href="{{item.rota}}"><span class="title">{{item.nome}}</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    <ul id="main-menu" class="main-menu auto-inherit-active-class">
                        <li class="root-level has-sub">
                            <a href="index.html">
                                <i class="fa fa-user"></i>
                                <span class="title">Gerenciar Usuário</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#/Usuario/novo">
                                        <span class="title">Cadastrar Usuário</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#/Usuario/listar">
                                        <span class="title">Listar Usuário</span>
                                    </a>
                                </li>
                            </ul>	
                        </li>

                        <li class="root-level has-sub">
                            <a href="#">
                                <i class="fa fa-pencil"></i>
                                <span class="title">Gerenciar Perfil</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#/Perfil/listar">
                                        <span class="title">Listar Perfil</span>
                                    </a>
                                </li>
                            </ul>	
                        </li>
                    </ul>-->
                </div>
            </div>

            <div class="main-content">                
                <div id="topo" class="navbar navbar-default navbar-static-top">
                    <ul class="list-inline links-list pull-right">
                        <li>
                            <div class="btn-group">
                                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    Eduardo Betioli <i class="entypo-down-open-big right"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a>Alterar meus dados</a></li>
                                    <li><a>Alterar minha senha</a></li>
                                </ul>
                            </div>                                
                            {{nomeUsuario}}
                        </li>
                        <li class="sep"></li>
                        <li><a ng-click="logout()">Sair do sistema <i class="entypo-logout right"></i></a></li>
                    </ul>
                </div> 
                <div ng-view></div>
            </div>
        </div>

        <script src="bootstrap/neon/js/gsap/main-gsap.js"></script>
        <script src="bootstrap/neon/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
        <script src="bootstrap/neon/js/bootstrap.js"></script>
        <script src="bootstrap/neon/js/joinable.js"></script>
        <script src="bootstrap/neon/js/resizeable.js"></script>
        <script src="bootstrap/neon/js/neon-api.js"></script>
        <script src="bootstrap/neon/js/neon-custom.js"></script>

        
    </body>
</html>