<!DOCTYPE html>
<html ng-app="usuarioApp">
    <head>
        <title>Login TIME 05</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js"></script>
        <script src="angular-route.min.js"></script>
        <script src="jquery-2.1.3.min.js" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/login.css" rel="stylesheet" type="text/css"/>
        <script src="js/appUsuario.js" type="text/javascript"></script>
        <script src="js/LoginController.js" type="text/javascript"></script>
        <script src="js/UsuarioController.js" type="text/javascript"></script>

    </head>
    <body class="text-center vertical-center" ng-controller="LoginController" ng-init="verificaUsers(); verificaTelaLogin();">
        <div class="container col-md-3" ng-show="yesUser" ng-controller="LoginController">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-title">TIME 05</h2></div>
                <div class="panel-body ">
                    <form name="formLogin" novalidate class="form-horizontal">
                        <div class="input-group">
                            <span class="input-group-addon" id="icon-login"><span class="glyphicon glyphicon-user"></span></span> 
                            <input type="text" ng-model="login.login" name="login" id="login" class="form-control" aria-describedby="icon-login" placeholder="Digite seu login..." required="">
                        </div>
                        <div ng-show="formLogin.login.$dirty && formLogin.login.$invalid" class="alert alert-danger" role="alert">
                            <span ng-show="formLogin.login.$error.required">Preencha sua senha. </span>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="icon-senha"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" ng-model="login.senha" name="senha" id="senha" class="form-control" aria-describedby="icon-senha" placeholder="Digite sua senha..." required="">
                        </div>
                        <div ng-show="formLogin.senha.$dirty && formLogin.senha.$invalid" class="alert alert-danger" role="alert">
                            <span ng-show="formLogin.senha.$error.required">Preencha sua senha. </span>
                        </div>
                        <br>

                        <a ng-disabled="!formLogin.$valid" ng-click="logar()" class="col-md-12 btn btn-success cemporcento">Entrar <span class="glyphicon glyphicon-hand-right"></span></a>

                    </form>
                </div>
            </div>
        </div>

        <div class="container col-md-6" ng-show="!yesUser" ng-controller="UsuarioController">
            <div class="alert alert-warning">Não existe nenhum usuário cadastrado, cadastre um administrador para iniciar a aplicação.</div>
            <div class="panel panel-default" ng-init="novoAdmin()">
                <div class="panel-heading"><h1 class="panel-title">Cadastro de administrador</h1></div>
                <div class="panel-body">

                    <form name="formCad" novalidate class="form-horizontal">
                        <div class="form-group">    
                            <label for="nome" class="col-md-2 control-label">Nome:</label>
                            <div class="col-md-10"><input type="text" ng-model="usuario.nome" id="nome" name="nome" required="" class="form-control" ng-minlength=3 ng-maxlength=50></div>
                        </div>
                        <div ng-show="formCad.nome.$dirty && formCad.nome.$invalid" class="alert alert-danger" role="alert" class="col-md-12">
                            <span ng-show="formCad.nome.$error.required">Preencha seu nome completo. </span>
                            <span ng-show="formCad.nome.$error.minlength">Nome deve ter mais de 3 caracteres. </span>
                            <span ng-show="formCad.nome.$error.maxlength">Nome não pode ter mais de 50 caracteres. </span>
                        </div>

                        <div class="form-group"> 
                            <label for="login" class="col-md-2 control-label">Login:</label>
                            <div class="col-md-10"><input type="text" ng-model="usuario.login" id="login" name="login" required="" login-unique class="form-control" ng-minlength=6 ng-maxlength=20></div>
                        </div>
                        <div ng-show="formCad.login.$dirty && formCad.login.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10">
                            <span ng-show="formCad.login.$error.required">Preencha seu login. </span>
                            <span ng-show="formCad.login.$error.unlogin">Login já cadastrado. </span>
                            <span ng-show="formCad.login.$error.minlength">Login deve ter mais de 6 caracteres. </span>
                            <span ng-show="formCad.login.$error.maxlength">Login não pode ter mais de 20 caracteres. </span>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-2 control-label">E-mail: </label>
                            <div class="col-md-10"><input type="email" ng-model="usuario.email" id="email" name="email" required="" email-unique class="form-control"></div>
                        </div>
                        <div ng-show="formCad.email.$dirty && formCad.email.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10" >
                            <span ng-show="formCad.email.$error.required">Preencha seu e-mail. </span>
                            <span ng-show="formCad.email.$error.email">Coloque um e-mail válido. </span>
                            <span ng-show="formCad.email.$error.unemail">E-mail já existe no cadastro.   </span>
                        </div>
                        <div class="form-group">
                            <label for="senha" class="col-md-2 control-label">Senha: </label>
                            <div class="col-md-10"><input type="password" ng-model="usuario.senha" id="senha" name="senha" required="" ng-minlength=6 ng-maxlength=10 verif-senha class="form-control"></div>
                        </div>      
                        <div ng-show="formCad.senha.$dirty && formCad.senha.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10">
                            <span ng-show="formCad.senha.$error.required">Preencha sua senha. </span>
                            <span ng-show="formCad.senha.$error.minlength">Senha deve ter mais de 6 caracteres. </span>
                            <span ng-show="formCad.senha.$error.maxlength">Senha não pode ter mais de 10 caracteres. </span>
                            <span ng-show="formCad.senha.$error.chsenha">Senha deve ter pelo menos uma letra minúscula, uma maiúscula, um número e um caracter especial. </span>
                        </div>
                        <div class="form-group">
                            <label for="rsenha" class="col-md-2 control-label">Repetir senha: </label>
                            <div class="col-md-10"><input type="password" ng-model="usuario.rsenha" id="rsenha" name="rsenha" required password-match="usuario.senha" class="form-control"></div>
                        </div>    
                        <div ng-show="formCad.rsenha.$dirty && formCad.rsenha.$invalid" class="alert alert-danger" role="alert" class="col-md-offset-2 col-md-10">
                            <span ng-show="formCad.rsenha.$error.required">Preencha a confirmação da senha.</span>
                            <span ng-show="formCad.rsenha.$error.pwmatch">Senhas não conferem.</span>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button ng-click="salvar()" ng-disabled="!formCad.$valid" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Cadastrar</button>
                                <button ng-click="reset(formCad)" class="btn btn-info">Limpar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </body>
</html>
